h1 h2 {
    color: white;
    font-weight: 100;
}

body {
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: "basic";
    font-weight: 100;
    scrollbar-width: thin;
    scrollbar-color: #ffffff #00000000;
}

body::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #828282;
}

p {
    font-size: 20px;
    color: white;
}

pre {
    font-family: "lan";
    font-weight: 400;
    font-size: 20px;
}

@keyframes -head {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.head {
    opacity: 0;
    font-size: 20px;
    text-align: center;
    padding: 5px 5px;
}

@keyframes -top {
    from {
        width: 55vw;
        background-color: #02211d00;
    }
    to {
        width: 100vw;
        background-color: #02211d9f;
    }
}

.top {
    margin-top: 30px;
    margin-left: -14px;
    background-color: #02211d00;
    border-radius: 5px;
    height: auto;
    padding: 7px 7px;
}

@keyframes -head1 {
    from {
        transform: translateX(50vw);
        opacity: 0;
    }
    to {
        transform: translateX(5vw);
        opacity: 1;
    }
}

.head1 {
    display: none;
    font-size: 50px;
}

@keyframes -head2 {
    from {
        transform: translateX(30vw);
        opacity: 0;
    }
    to {
        transform: translateX(5vw);
        opacity: 1;
    }
}

.head2 {
    display: none;
    font-size: 35px;
}

.head3, .head4, .head5 {
    opacity: 0;
    background-color: #000000b0;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 25px;
    border: none;
}

@keyframes _head3 {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(5vw);
    }
}

@keyframes head3- {
    from {
        opacity: 1;
        height: 140px;
        transform: translateX(5vw);
    }
    to {
        opacity: 1;
        height: calc(100% - 50px);
        transform: translateX(5vw);
    }
}

@keyframes _head4 {
    from {
        opacity: 0;
        transform: translateX(0vw);
    }
    to {
        opacity: 1;
        transform: translateX(20vw);
    }
}

@keyframes head4- {
    from {
        opacity: 1;
        transform: translateX(20vw);
        height: 140px;
    }
    to {
        opacity: 1;
        transform: translateX(5vw);
        height: calc(100% - 50px);
    }
}

@keyframes _head5 {
    from {
        opacity: 0;
        transform: translateX(0vw);
    }
    to {
        opacity: 1;
        transform: translateX(35vw);
    }
}

@keyframes head5- {
    from {
        opacity: 1;
        transform: translateX(35vw);
        height: 140px;
    }
    to {
        opacity: 1;
        transform: translateX(5vw);
        height: calc(100% - 50px);
    }
}

.btn1, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7, .btn8, .btn9, .btn10, .btn11, .btn12, .btn13, .btn14, .btn15, .btn16, .btn17, .btn18, .btn19, .btn20, .btn21, .btn22, .btn23, .btn24, .btn25 {
    opacity: 0;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

.btn1 {
    background-color: #18a689b0;
}

.btn2 {
    background-color: #1d5837b0;
}

.btn3 {
    background-color: #791e1db0;
}

.btn4 {
    background-color: #847829b0;
}

.btn5 {
    background-color: #235087b0;
}

.btn6 {
    background-color: #9e3389b0;
}

.btn7 {
    background-color: #7527a4b0;
}

.btn8 {
    background-color: #a6580d99;
}

.btn9 {
    background-color: #19181899;
}

.btn10 {
    background-color: #ff339999;
    color: black;
}

.btn11 {
    background-color: #33ffb399;
}

.btn12 {
    background-color: #c7000399;
}

.btn13 {
    background-color: #900c3999;
}

.btn14 {
    background-color: #58184599;
}

.btn15 {
    background-color: #ffc30099;
}

.btn16 {
    background-color: #ff573399;
}

.btn17 {
    background-color: #1c1c1c99;
}

.btn18 {
    background-color: #3498db99;
}

.btn19 {
    background-color: #8e44ad99;
}

.btn20 {
    background-color: #e74c3c99;
}

.btn21 {
    background-color: #2ecc7199;
}

.btn22 {
    background-color: #66999999;
}

.btn23 {
    background-color: #11451499;
}

.btn24 {
    background-color: #41541199;
}

.btn25 {
    background-color: #14253699;
}

.btn26, .btn27, .btn28 {
    opacity: 1;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    color: black;
}

.btn26 {
    background-color: #ffffff99;
}

.btn27 {
    background-color: #aaaaaa99;
}

.btn28 {
    background-color: #9cdcfe99;
}


@keyframes -para {
    from {
        opacity:  0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(5vw);
    }
}

.para {
    font-size: 20px;
    position: absolute;
    left: 50px;
    margin-bottom: 10px;
}

a {
    font-size: 20px;
}

a:link {
    color: cyan;
    text-decoration: none;
}

a:visited {
    color: mediumpurple;
    text-decoration: none;
}

a:hover {
    color: silver;
    text-decoration: underline;
}

a:active {
    color: palegreen;
    text-decoration: underline;
}

button {
    font-family: "basic";
    font-weight: 100;
}

.dakai {
    color: #ffffff;
    z-index: 999;
    margin-left: 30px;
    background-color: #ffe20099;
    padding: 14px 25px;
    border-radius: 5px;
    font-size: 25px;
    border: none;
}

.fn-1, .fn-2 {
    opacity: 0;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

.fn-1 {
    background-color: #a123bf99;
}

.fn-2 {
    background-color: #ff573399;
}

.div1, .div2, .div3 {
    font-weight: bold;
    margin-top: 30px;
    width: auto;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    padding: 15px 15px;
}

.div1 {
    background-color: #F39C1249;
}

.div2 {
    background-color: #1ABC9C49;
}

.div3 {
    background-color: #8E44AD49;
}

.control-pad, .information-table {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: #00000099;
    color: white;
    z-index: 100;
    scrollbar-width: thin;
    scrollbar-color: #ffffff99 #00000000;
}

.control-pad {
    left: calc(-30vw - 300px);
}

.information-table {
    right: calc(-30vw - 300px);
}

.control-pad::-webkit-scrollbar-thumb, .information-table::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.control-pad::-webkit-scrollbar-thumb:hover, .information-table::-webkit-scrollbar-thumb:hover {
    background-color: #828282;
}

@keyframes ctrl- {
    from {
        left: calc(-30vw - 300px);
        backdrop-filter: blur(0px) saturate(100%);
    }
    to {
        left: 0;
        backdrop-filter: blur(14px) saturate(250%);
    }
}

@keyframes -ctrl {
    from {
        left: 0;
        backdrop-filter: blur(14px) saturate(250%);
    }
    to {
        left: calc(-30vw - 300px);
        backdrop-filter: blur(0px) saturate(100%);
    }
}

@keyframes inf- {
    from {
        right: calc(-30vw - 300px);
        backdrop-filter: blur(0px) saturate(100%);
    }
    to {
        right: 0;
        backdrop-filter: blur(14px) saturate(250%);
    }
}

@keyframes -inf {
    from {
        right: 0;
        backdrop-filter: blur(14px) saturate(250%);
    }
    to {
        right: calc(-30vw - 300px);
        backdrop-filter: blur(0px) saturate(100%);
    }
}

.title {
    color: #ffffff;
    position: absolute;
    left: 25px;
    text-align: left;
    font-size: 30px;
}

.lcont, .rcont {
    position: absolute;
    color: #ffffff;
    font-size: 20px;
}

.lcont {
    left: 15px;
    text-align: left;
}

.rcont {
    right: 15px;
    text-align: right;
}

.zd1, .zd2, .zd3, .zd4, .zd5, .zd6 {
    color: #ffffff;
    z-index: 999;
    margin-left: 30px;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

.zd1 {
    background-color: #4ebebe99;
}

.zd2 {
    background-color: #42789b99;
}

.zd3 {
    background-color: #31509099;
}

.zd4 {
    background-color: #66d12599;
}

.zd5 {
    background-color: #55f6a699;
}

.zd6 {
    background-color: #48b3a999;
}

.img {
    width: 50px;
    height: auto;
}

.inpbox {
    position: relative;
    top: 0.5vh;
    z-index: 999;
    height: 4vh;
    width: 300px;
    font-size: 20px;
    color: white;
    background-color: #00000079;
    font-family: "basic";
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
}