body {
    overflow-x: hidden;
    background-color: black;
    letter-spacing: 1px;
    color: white;
    font-family: "basic";
    font-weight: 100;
    scrollbar-width: thin;
    transition: filter 0.3s ease;
    scrollbar-color: #ffffff #00000000;
}

body::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #828282;
}

h1 h2 {
    color: white;
    font-weight: 100;
}

p {
    font-size: 20px;
    color: white;
}

pre {
    font-family: "lan";
    font-weight: 400;
    font-size: 20px;
}

.img {
    width: 50px;
    height: auto;
}

.inpbox {
    position: relative;
    top: 0.5vh;
    z-index: 999;
    height: 4vh;
    width: 300px;
    font-size: 20px;
    color: white;
    background-color: #00000079;
    font-family: "basic";
    border: none;
    padding: 7px 15px;
}

@keyframes jr_0head {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.head {
    opacity: 0;
    font-size: 20px;
    text-align: center;
    padding: 5px 5px;
}

@keyframes jr_top {
    from {
        width: 55vw;
        background-color: #02211d00;
    }
    to {
        width: 100vw;
        background-color: #02211d49;
    }
}

.top {
    margin-top: 30px;
    margin-left: -14px;
    background-color: #02211d00;
    height: auto;
    padding: 7px 7px;
}

@keyframes jr_head1 {
    from {
        letter-spacing: 7px;
        transform: translateX(50vw);
        opacity: 0;
    }
    to {
        letter-spacing: 4px;
        transform: translateX(5vw);
        opacity: 1;
    }
}

.head1 {
    display: none;
    font-weight: 200;
    font-size: 48px;
    letter-spacing: 4px;
}

@keyframes jr_head2 {
    from {
        letter-spacing: 7px;
        transform: translateX(30vw);
        opacity: 0;
    }
    to {
        letter-spacing: 2px;
        transform: translateX(5vw);
        opacity: 1;
    }
}

.head2 {
    letter-spacing: 2px;
    display: none;
    font-weight: 200;
    font-size: 36px;
}

.head3, .head4 {
    height: 60px;
    opacity: 0;
    background-color: #000000b0;
    padding: 14px 25px;
    margin-bottom: 15px;
    font-size: 25px;
    border: none;
}

@keyframes jr1_head3 { /* fn1() */
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(5vw);
    }
}

@keyframes cc1_head3 {
    from {
        opacity: 1;
        height: 60px;
        transform: translateX(5vw);
    }
    to {
        opacity: 1;
        height: 1240px;
        transform: translateX(5vw);
    }
}

@keyframes cc1_head4 { /* fn2() */
    from {
        opacity: 1;
        height: 60px;
        transform: translateX(20vw);
    }
    to {
        opacity: 1;
        transform: translateX(5vw);
        height: 650px;
    }
}

@keyframes jr1_head5 { /* fn3() */
    from {
        opacity: 0;
        transform: translateX(0vw);
    }

    to {
        opacity: 1;
        transform: translateX(20vw);
    }
}

@keyframes cc1_head5 {
    from {
        opacity: 1;
        height: 60px;
        transform: translateX(20vw);
    }

    to {
        opacity: 1;
        transform: translateX(5vw);
        height: 310px;
    }
}

.btn1, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7, .btn8, .btn9, .btn10, .btn11, .btn12, .btn13, .btn14, .btn15, .btn16, .btn17, .btn18, .btn19, .btn20, .btn21, .btn22, .btn23, .btn24, .btn25 {
    opacity: 0;
    padding: 14px 25px;
    margin-bottom: 15px;
    font-size: 20px;
    border: none;
}

.btn1 {
    background-color: #18a689b0;
}

.btn2 {
    background-color: #1d5837b0;
}

.btn3 {
    background-color: #791e1db0;
}

.btn4 {
    background-color: #847829b0;
}

.btn5 {
    background-color: #235087b0;
}

.btn6 {
    background-color: #9e3389b0;
}

.btn7 {
    background-color: #7527a4b0;
}

.btn8 {
    background-color: #a6580d99;
}

.btn9 {
    background-color: #19181899;
}

.btn10 {
    background-color: #ff339999;
    color: black;
}

.btn11 {
    background-color: #33ffb399;
}

.btn12 {
    background-color: #c7000399;
}

.btn13 {
    background-color: #900c3999;
}

.btn14 {
    background-color: #58184599;
}

.btn15 {
    background-color: #ffc30099;
}

.btn16 {
    background-color: #ff573399;
}

.btn17 {
    background-color: #1c1c1c99;
}

.btn18 {
    background-color: #3498db99;
}

.btn19 {
    background-color: #8e44ad99;
}

.btn20 {
    background-color: #e74c3c99;
}

.btn21 {
    background-color: #2ecc7199;
}

.btn22 {
    background-color: #66999999;
}

.btn23 {
    background-color: #11451499;
}

.btn24 {
    background-color: #41541199;
}

.btn25 {
    background-color: #14253699;
}

.btn26, .btn27, .btn28, .btn29 {
    color: black;
    opacity: 1;
    padding: 14px 25px;
    margin-bottom: 15px;
    font-size: 20px;
    border: none;
}

.btn26 {
    background-color: #ffffff99;
}

.btn27 {
    background-color: #aaaaaa99;
}

.btn28 {
    background-color: #9cdcfe99;
}

.btn29 {
    background-color: #f0f0f099;
}


@keyframes jr_para {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(5vw);
    }
}

.para {
    font-size: 20px;
    position: absolute;
    left: 50px;
    margin-bottom: 10px;
}

a {
    font-size: 20px;
}

a:link {
    color: cyan;
    text-decoration: none;
}

a:visited {
    color: mediumpurple;
    text-decoration: none;
}

a:hover {
    color: silver;
    text-decoration: underline;
}

a:active {
    color: palegreen;
    text-decoration: underline;
}

button {
    font-family: "basic";
    font-weight: 100;
}

.dakai {
    color: #ffffff;
    z-index: 999;
    margin-left: 30px;
    background-color: #ffe20099;
    padding: 14px 25px;
    font-size: 25px;
    border: none;
}

.fn-1, .fn-2 {
    opacity: 0;
    padding: 14px 25px;
    margin-bottom: 15px;
    font-size: 20px;
    border: none;
}

.fn-1 {
    background-color: #a123bf99;
}

.fn-2 {
    background-color: #ff573399;
}

.div1, .div2, .div3 {
    font-weight: bold;
    margin-top: 30px;
    width: auto;
    font-size: 25px;
    text-align: center;
    padding: 15px 15px;
}

.div1 {
    background-color: #F39C1249;
}

.div2 {
    background-color: #1ABC9C49;
}

.div3 {
    background-color: #8E44AD49;
}

.control-pad, .information-table {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: #00000099;
    color: white;
    z-index: 100;
    scrollbar-width: thin;
    scrollbar-color: #ffffff99 #00000000;
}

.control-pad {
    left: calc(-30vw - 300px);
}

.information-table {
    right: calc(-30vw - 300px);
}

.control-pad::-webkit-scrollbar-thumb, .information-table::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.control-pad::-webkit-scrollbar-thumb:hover, .information-table::-webkit-scrollbar-thumb:hover {
    background-color: #828282;
}

@keyframes jr_ctrl {
    from {
        left: calc(-30vw - 300px);
        backdrop-filter: blur(0px) saturate(100%);
    }
    to {
        left: 0;
        backdrop-filter: blur(14px) saturate(250%);
    }
}

@keyframes cc_ctrl {
    from {
        left: 0;
        backdrop-filter: blur(14px) saturate(250%);
    }
    to {
        left: calc(-30vw - 300px);
        backdrop-filter: blur(0px) saturate(100%);
    }
}

@keyframes jr_inf {
    from {
        right: calc(-30vw - 300px);
        backdrop-filter: blur(0px) saturate(100%);
    }
    to {
        right: 0;
        backdrop-filter: blur(14px) saturate(250%);
    }
}

@keyframes cc_inf {
    from {
        right: 0;
        backdrop-filter: blur(14px) saturate(250%);
    }
    to {
        right: calc(-30vw - 300px);
        backdrop-filter: blur(0px) saturate(100%);
    }
}

@keyframes opacity_flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.title {
    color: #ffffff;
    position: absolute;
    left: 25px;
    text-align: left;
    font-size: 30px;
}

.lcont, .rcont {
    position: absolute;
    color: #ffffff;
    font-size: 20px;
}

.lcont {
    left: 15px;
    text-align: left;
}

.rcont {
    position: relative;
    right: 15px;
    text-align: right;
    padding: 14px 25px;
}

.rtxt {
    position: relative;
    left: 40px;
    text-align: right;
    color: white;
    max-width: 300px;
    word-break: break-word;
    line-height: 1.4;
    opacity: 1;
}

.control1, .control2, .control3, .control4, .control5, .control6, .control7, .control8, .inf1, .inf2, .inf3, .inf4, .inf5 {
    color: #ffffff;
    z-index: 999;
    margin-left: 30px;
    padding: 7px 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.control1 {
    background-color: #3498db99;
}

.control2 {
    background-color: #2ecc7199;
}

.control3 {
    background-color: #51c8ef99;
}

.control4 {
    background-color: #1abc9c99;
}

.control5 {
    background-color: #4fbbdd99;
}

.control6 {
    background-color: #3cb18999;
}

.control7 {
    background-color: #6fc4ec99;
}

.control8 {
    background-color: #57cb8599;
}

.inf1 {
    background-color:#26c9a999;
}

.inf2 {
    background-color: #204e3099;
}

.inf3 {
    background-color: #4a151499;
}

.inf4 {
    background-color: #9c8d2c99;
}

.inf5 {
    background-color: #e11af199;
}

#notic, #cgc, #failc, #warnc, #synchrc, #timerc {
    position: relative;
    transition: height 0.3s ease-in-out;
    height: 135px;
}

#notic {
    background-color: #18a68979;
}

#cgc {
    background-color: #1d583779;
}

#failc {
    background-color: #791e1d79;
}

#warnc {
    background-color: #84782979;
}

#synchrc {
    background-color: #9e338979;
}

#timerc {
    background-color: #f0f0f079;
}