h1 h2 {
    color: white;
    font-weight: 100;
}

body {
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: "basic";
    font-weight: 100;
}

p {
    font-size: 30px;
    color: white;
}

/* 第 1 部分。 */

@keyframes -head {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.head {
    opacity: 0;
    font-size: 25px;
    text-align: center;
    padding: 5px 5px;
}

@keyframes -top {
    from {
        width: 55vw;
        background-color: #02211d00;
    }
    to {
        width: 100vw;
        background-color: #02211d9f;
    }
}

.top {
    margin-top: 30px;
    margin-left: -14px;
    background-color: #02211d00;
    border-radius: 5px;
    height: auto;
    padding: 7px 7px;
}

@keyframes -head1 { /* 进入动画。 */
    from {
        transform: translateX(50vw);
        opacity: 0;
    }
    to {
        transform: translateX(5vw);
        opacity: 1;
    }
}

.head1 {
    font-size: 60px;
    animation: -head1 1.4s forwards cubic-bezier(0.33, 1, 0.68, 1);
}

@keyframes -head2 {
    from {
        transform: translateX(30vw);
        opacity: 0;
    }
    to {
        transform: translateX(5vw);
        opacity: 1;
    }
}

.head2 {
    display: none;
    font-size: 40px;
}

.head3, .head4, .head5 {
    opacity: 0;
    background-color: #000000b0;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

@keyframes _head3 {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(5vw);
    }
}

@keyframes head3- {
    from {
        opacity: 1;
        height: 140px;
        transform: translateX(5vw);
    }
    to {
        opacity: 1;
        height: calc(100% - 50px);
        transform: translateX(5vw);
    }
}

@keyframes _head4 {
    from {
        opacity: 0;
        transform: translateX(0vw);
    }
    to {
        opacity: 1;
        transform: translateX(20vw);
    }
}

@keyframes head4- {
    from {
        opacity: 1;
        transform: translateX(20vw);
        height: 140px;
    }
    to {
        opacity: 1;
        transform: translateX(5vw);
        height: calc(100% - 50px);
    }
}

@keyframes _head5 {
    from {
        opacity: 0;
        transform: translateX(0vw);
    }
    to {
        opacity: 1;
        transform: translateX(35vw);
    }
}

@keyframes head5- {
    from {
        opacity: 1;
        transform: translateX(35vw);
        height: 140px;
    }
    to {
        opacity: 1;
        transform: translateX(5vw);
        height: calc(100% - 50px);
    }
}

/* 第 2 部分。 */

.btn1 {
    opacity: 0;
    background-color: #18a689b0;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn2 {
    opacity: 0;
    background-color: #1d5837b0;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn3 {
    opacity: 0;
    background-color: #791e1db0;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn4 {
    opacity: 0;
    background-color: #847829b0;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn5 {
    opacity: 0;
    background-color: #235087b0;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn6 {
    opacity: 0;
    background-color: #9e3389b0;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn7 {
    opacity: 0;
    background-color: #7527a4b0;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn8 {
    opacity: 0;
    background-color: #a6580d99;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn9 {
    opacity: 0;
    background-color: #19181899;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

@keyframes -para {
    from {
        opacity:  0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(5vw);
    }
}

.para {
    font-size: 30px;
    position: absolute;
    left: 50px;
    margin-bottom: 10px;
}

a {
    font-size: 30px;
}

a:link {
    color: cyan;
    text-decoration: none;
}

a:visited {
    color: mediumpurple;
    text-decoration: none;
}

a:hover {
    color: silver;
    text-decoration: underline;
}

a:active {
    color: palegreen;
    text-decoration: underline;
}

button {
    font-family: "basic";
    font-weight: 100;
}

.dakai {
    z-index: 999;
    margin-left: 30px;
    background-color: #ffe20099;
    padding: 14px 25px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.fn-1 {
    opacity: 0;
    background-color: #a123bf99;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.fn-2 {
    opacity: 0;
    background-color: #ff573399;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn10 {
    opacity: 0;
    background-color: #ff339999;
    color: black;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn11 {
    opacity: 0;
    background-color: #33ffb399;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn12 {
    opacity: 0;
    background-color: #c7000399;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn13 {
    opacity: 0;
    background-color: #900c3999;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn14 {
    opacity: 0;
    background-color: #58184599;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn15 {
    opacity: 0;
    background-color: #ffc30099;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn16 {
    opacity: 0;
    background-color: #ff573399;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn17 {
    opacity: 0;
    background-color: #1c1c1c99;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn18 {
    opacity: 0;
    background-color: #3498db99;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn19 {
    opacity: 0;
    background-color: #8e44ad99;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn20 {
    opacity: 0;
    background-color: #e74c3c99;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn21 {
    opacity: 0;
    background-color: #2ecc7199;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn22 {
    opacity: 0;
    background-color: #66999999;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.div1 {
    font-weight: bold;
    margin-top: 30px;
    width: auto;
    background-color: #F39C1249;
    border-radius: 5px; 
    font-size: 33px;
    text-align: center;
    padding: 15px 15px;
}

.div2 {
    font-weight: bold;
    margin-top: 30px;
    width: auto;
    background-color: #1ABC9C49;
    border-radius: 5px;
    font-size: 33px;
    text-align: center;
    padding: 15px 15px;
}

.div3 {
    font-weight: bold;
    margin-top: 30px;
    width: auto;
    background-color: #8E44AD49;
    border-radius: 5px;
    font-size: 33px;
    text-align: center;
    padding: 15px 15px;
}

.btn23 {
    opacity: 0;
    background-color: #11451499;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn24 {
    opacity: 0;
    background-color: #41541199;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn25 {
    opacity: 0;
    background-color: #14253699;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn26 {
    opacity: 1;
    background-color: #ffffff99;
    padding: 14px 25px;
    margin-bottom: 15px;
    color: black;
    border-radius: 5px;
    font-size: 30px;
    border: none;
}

.btn27 {
    opacity: 1;
    background-color: #aaaaaa99;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
    color: black;
}