.info-window, .cg-window, .fail-window, .warn-window, .inp-window, .synchr-window, .xz-window, .lj-window, .zd-window {
    z-index: 1000;
    display: flex;
    right: 0px;
    position: absolute;
    top: 7vh;
    font-size: 25px;
    flex-wrap: wrap;
    width: auto;
    margin: 10px;
}

.info-window {
    background-color: #18a68999;
    border-left: 5px solid #1b7163c9;
    border-right: 5px solid #1b7163c9;
}

.info-square, .cg-square, .fail-square, .warn-square, .inp-square, .synchr-square, .xz-square, .lj-square, .zd-square {
    position: absolute;
    z-index: 1000;
    display: flex;
    align-items: center;
    left: 0px;
    justify-content: center;
}

.info-square {
    background-color: #1b7163c9;
}

.fn-content {
    text-align: center;
    transform: translateY(-10%);
    font-size: 20px;
    padding: 14px 25px;
    color: white;
    flex-grow: 1;
    max-width: 14ch;
    word-break: break-word;
    min-width: 30ch;
}

.info-progressbar, .cg-progressbar, .fail-progressbar, .warn-progressbar {
    width: 0;
    height: 5px;
    overflow: hidden;
    transition: width 16ms ease;
    position: relative;
}

.info-progressbar {
    background-color: #06b48499;
}

@keyframes fn- {
    from {
        opacity: 0;
        width: 0;
        left: 50%;
        right: 50%;
    }
    to {
        width: 30ch;
        opacity: 1;
        left: calc(50% - 15ch);
        right: calc(50% + 15ch);
    }
}

@keyframes -fn {
    from {
        width: 30ch;
        opacity: 1;
        left: calc(50% - 15ch);
        right: calc(50% + 15ch);
    }
    to {
        opacity: 0;
        width: 0;
        left: 50%;
        right: 50%;
    }
}

.cg-window {
    background-color: #1d583799;
    border-left: 5px solid #183b25c9;
    border-right: 5px solid #183b25c9;
}

.cg-square {
    background-color: #183b25c9;
}

.cg-progressbar {
    background-color: #14be6b99;
}

.fail-window {
    background-color: #791e1d99;
    border-left: 5px solid #4a1514c9;
    border-right: 5px solid #4a1514c9;
}

.fail-square {
    background-color: #4a1514c9;
}

.fail-progressbar {
    background-color: #e0111199;
}

.warn-window {
    background-color: #84782999;
    border-left: 5px solid #615518c9;
    border-right: 5px solid #615518c9;
}

.warn-square {
    background-color: #615518c9;
}

.warn-progressbar {
    background-color: #ffad0099;
}

.inp-window {
    background-color: #23508799;
    border-left: 5px solid #183450c9;
    border-right: 5px solid #183450c9;
}

.inp-square {
    background-color: #183450c9;
}

.inp-box, .zd-box {
    z-index: 999;
    font-size: 25px;
    color: white;
    flex-grow: 1;
    word-break: break-word;
    font-family: "basic";
    border: none;
    border-radius: 0px;
}

.inp-box {
    background-color: #9cdcfe99;
}

.xz-window {
    background-color: #7527a499;
    border-left: 5px solid #461c5fc9;
    border-right: 5px solid #461c5fc9;
}

.xz-square {
    background-color: #461c5fc9;
}

.synchr-window {
    background-color: #9e338999;
    border-left: 5px solid #c125abc9;
    border-right: 5px solid #c125abc9;
}

.synchr-square {
    background-color: #c125abc9;
}

.synchr-progressbar {
    background-color: #ff39ac99;
}

.lj-window {
    background-color: #a6580d99;
    border-left: 5px solid #753e14c9;
    border-right: 5px solid #753e14c9;
}

.lj-square {
    background-color: #753e14c9;
}

.zd-window {
    background-color: #19181899;
    border-left: 5px solid #000000c9;
    border-right: 5px solid #000000c9;
}

.zd-square {
    background-color: #000000c9;
}

.zd-box {
    background-color: #22222299;
}

/* wz() 函数。 */
.wz-window {
    width: 0;
    height: 50vh;
    background-color: #0000009a;
    display: flex;
    top: 50%;
    position: absolute;
    z-index: 1000;
    flex-wrap: wrap;
}

@keyframes --wz {
    from {
        transform: translate(0%, -100%);
    }
    to {
        transform: translate(50%, -50%);
    }
}

@keyframes -wz {
    from {
        transform: translate(50%, -50%);
        backdrop-filter: blur(0px) saturate(100%);
        width: 0px;
    }
    to {
        transform: translate(50%, -50%);
        width: 50vw;
        backdrop-filter: blur(14px) saturate(250%);
    }
}

@keyframes wz- {
    from {
        transform: translate(50%, -50%);
        width: 50vw;
        backdrop-filter: blur(14px) saturate(250%);
    }
    to {
        transform: translate(50%, -50%);
        backdrop-filter: blur(0px) saturate(100%);
        width: 0px;
    }
}

@keyframes wz-- {
    from {
        transform: translate(50%, -50%);
    }
    to {
        transform: translate(100%, 100%);
    }
}

.wz-left, .wz-right {
    width: 7px;
    height: 100%;
    opacity: 1;
    background-color: #ffffff;
    position: absolute;
}

.wz-left {
    left: 0;
}

@keyframes __solid {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes solid__ {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes left_ {
    from {
        left: 0;
    }
    to {
        right: 0;
    }
}

.wz-right {
    right: 0;
}

@keyframes _right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes _txt {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes txt_ {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(40px);
    }
}

@keyframes _btn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes btn_ {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.wz-content {
    font-size: 20px;
    color: white;
    padding: 14px 25px;
    text-align: left;
    position: absolute;
    left: 4%;
    max-width: 40ch;
    max-height: calc(50vh - 210px);
    overflow-y: auto;
    white-space: pre-wrap;
    word-break: break-word;
    opacity: 0;
    transition: opacity 0.3s;
    scrollbar-width: thin;
    scrollbar-color: #ffffff99 #00000000;
}

.wz-content::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.wz-content::-webkit-scrollbar-thumb:hover {
    background-color: #828282;
}

.wz-icon {
    width: 60px;
    height: auto;
    opacity: 0;
    position: absolute;
    bottom: 20px;
    right: 5%;
    transform: translateX(-50%);
    padding: 7px 15px;
    background-color: #00000099;
    color: white;
    border: none;
    cursor: pointer;
}

/* rz 函数。 */
.rz-window {
    z-index: 100;
    background-color: #0b234599;
    display: flex;
    position: fixed;
    padding: 14px 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    top: 50%;
    left: 14px;
}

.rz-content {
    font-size: 20px;
    padding: 14px 25px;
    color: white;
    flex-grow: 1;
    max-width: calc(14ch);
    word-break: break-word;
    min-width: 20ch;
}

@keyframes -rz {
    from {
        backdrop-filter: blur(0px) saturate(100%);
        opacity: 0;
    }
    to {
        backdrop-filter: blur(14px) saturate(250%);
        opacity: 1;
    }
}

@keyframes rz- {
    from {
        backdrop-filter: blur(14px) saturate(250%);
        opacity: 1;
    }
    to {
        backdrop-filter: blur(0px) saturate(100%);
        opacity: 0;
    }
}