/* info() 函数。 */
.info-window {
    z-index: 1000;
    display: flex;
    position: absolute;
    right: 0px;
    top: 7vh;
    background-color: #18a68999;
    animation: -info 0.7s forwards cubic-bezier(0.33, 1, 0.68, 1);
    font-size: 25px;
    flex-wrap: wrap;
    width: auto;
    margin: 10px;
}

.info-square {
    z-index: 1001;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b7163c9;
}

.info-icon {
    text-align: center;
    font-size: 25px;
    color: white;
}

.info-content {
    padding: 14px 25px;
    color: white;
    flex-grow: 1;
    max-width: calc(14ch);
    word-break: break-word;
    min-width: 28ch;
}

@keyframes -info {
    from {
        transform: translateX(800px);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes info- {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(800px);
        opacity: 0;
    }
}

/* success() 函数。 */
.success-window {
    z-index: 1000;
    display: flex;
    position: absolute;
    right: 0px;
    top: 7vh;
    background-color: #1d583799;
    animation: -success 0.7s forwards cubic-bezier(0.33, 1, 0.68, 1);
    font-size: 25px;
    flex-wrap: wrap;
    width: auto;
    margin: 10px;
}

.success-square {
    z-index: 1001;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #183b25c9;
}

.success-icon {
    text-align: center;
    font-size: 25px;
    color: white;
}

.success-content {
    padding: 14px 25px;
    color: white;
    flex-grow: 1;
    max-width: calc(14ch);
    word-break: break-word;
    min-width: 28ch;
}

@keyframes -success {
    from {
        transform: translateX(800px);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes success- {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(800px);
        opacity: 0;
    }
}

/* fail() 函数。 */
.fail-window {
    z-index: 1000;
    display: flex;
    position: absolute;
    right: 0px;
    top: 7vh;
    background-color: #791e1d99;
    animation: -fail 0.7s forwards cubic-bezier(0.33, 1, 0.68, 1);
    font-size: 25px;
    flex-wrap: wrap;
    width: auto;
    margin: 10px;
}

.fail-square {
    z-index: 1001;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a1514c9;
}

.fail-icon {
    text-align: center;
    font-size: 25px;
    color: white;
}

.fail-content {
    padding: 14px 25px;
    color: white;
    flex-grow: 1;
    max-width: calc(14ch);
    word-break: break-word;
    min-width: 28ch;
}

@keyframes -fail {
    from {
        transform: translateX(800px);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fail- {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(800px);
        opacity: 0;
    }
}

/* warning() 函数。 */
.warning-window {
    z-index: 1000;
    display: flex;
    position: absolute;
    right: 0px;
    top: 7vh;
    background-color: #84782999;
    animation: -warning 0.7s forwards cubic-bezier(0.33, 1, 0.68, 1);
    font-size: 25px;
    flex-wrap: wrap;
    width: auto;
    margin: 10px;
}

.warning-square {
    z-index: 1001;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #615518c9;
}

.warning-icon {
    text-align: center;
    font-size: 25px;
    color: white;
}

.warning-content {
    padding: 14px 25px;
    color: white;
    flex-grow: 1;
    max-width: calc(14ch);
    word-break: break-word;
    min-width: 28ch;
}

@keyframes -warning {
    from {
        transform: translateX(800px);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes warning- {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(800px);
        opacity: 0;
    }
}

/* input() 函数。 */
.input-window {
    transform: translateX(50%);
    z-index: 1000;
    display: flex;
    position: absolute;
    right: 0px;
    top: 7vh;
    background-color: #23508799;
    animation: -input 0.7s forwards cubic-bezier(0.33, 1, 0.68, 1);
    font-size: 25px;
    flex-wrap: wrap;
    width: auto;
    margin: 10px;
}

.input-square {
    z-index: 1001;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #183450c9;
}

.input-icon {
    text-align: center;
    font-size: 25px;
    color: white;
}

.input-content {
    padding: 14px 25px;
    color: white;
    flex-grow: 1;
    max-width: calc(14ch);
    word-break: break-word;
    min-width: 28ch;
}

.input-box {
    z-index: 999;
    font-size: 25px;
    color: white;
    flex-grow: 1;
    word-break: break-word;
    background-color: #9cdcfe99;
    font-family: "basic";
    border: none;
    border-radius: 0px;
}

.input-box::placeholder {
    color: #ffffff99;
    text-align: center;
}

@keyframes -input {
    from {
        transform: translateY(-600px);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes input- {
    from {
        transform: translateY(0%);
        opacity: 1;
    }
    to {
        transform: translateY(-600px);
        opacity: 0;
    }
}

/* choice() 函数。 */
.choice-window {
    z-index: 1000;
    display: flex;
    position: absolute;
    right: 0px;
    top: 7vh;
    background-color: #7527a499;
    animation: -choice 0.7s forwards cubic-bezier(0.33, 1, 0.68, 1);
    font-size: 25px;
    flex-wrap: wrap;
    width: auto;
    margin: 10px;
}

.choice-square {
    z-index: 1001;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #461c5fc9;
}

.choice-icon {
    text-align: center;
    font-size: 25px;
    color: white;
}

.choice-content {
    margin-bottom: 90px;
    padding: 14px 25px;
    color: white;
    flex-grow: 1;
    max-width: calc(14ch);
    word-break: break-word;
    min-width: 28ch;
}

@keyframes -choice {
    from {
        transform: translateX(800px);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes choice- {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(800px);
        opacity: 0;
    }
}

/* transmit() 函数。 */
.transmit-window {
    z-index: 1000;
    display: flex;
    position: absolute;
    right: 0px;
    top: 7vh;
    background-color: #9e338999;
    animation: -transmit 0.7s forwards cubic-bezier(0.33, 1, 0.68, 1);
    font-size: 25px;
    flex-wrap: wrap;
    width: auto;
    margin: 10px;
}

.transmit-square {
    z-index: 1001;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c125abc9;
}

.transmit-icon {
    text-align: center;
    font-size: 25px;
    color: white;
}

.transmit-content {
    padding: 14px 25px;
    color: white;
    flex-grow: 1;
    max-width: calc(14ch);
    word-break: break-word;
    min-width: 28ch;
}

@keyframes -transmit {
    from {
        transform: translateX(800px);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes transmit- {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(800px);
        opacity: 0;
    }
}

/* link() 函数。 */
.link-window {
    z-index: 1000;
    display: flex;
    position: absolute;
    right: 0px;
    top: 7vh;
    background-color: #a6580d99;
    animation: -link 0.7s forwards cubic-bezier(0.33, 1, 0.68, 1);
    font-size: 25px;
    flex-wrap: wrap;
    width: auto;
    margin: 10px;
}

.link-square {
    z-index: 1001;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #753e14c9;
}

.link-icon {
    text-align: center;
    font-size: 25px;
    color: white;
}

.link-content {
    padding: 14px 25px;
    color: white;
    flex-grow: 1;
    margin-bottom: 70px;
    max-width: calc(14ch);
    word-break: break-word;
    min-width: 28ch;
}

.link-btn {
    background-color: #715213b0;
    border: none;
    padding: 14px 25px;
    text-align: center;
    cursor: pointer;
    color: white;
    position: absolute;
    flex: 1;
    bottom: 20px;
    left: 120px;
}

@keyframes -link {
    from {
        transform: translateX(800px);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes link- {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(800px);
        opacity: 0;
    }
}

/* command() 函数。 */
.command-window {
    z-index: 1000;
    display: flex;
    position: absolute;
    right: 0px;
    top: 7vh;
    background-color: #19181899;
    animation: -command 0.7s forwards cubic-bezier(0.33, 1, 0.68, 1);
    font-size: 25px;
    flex-wrap: wrap;
    width: auto;
    margin: 10px;
}

.command-square {
    z-index: 1001;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000c9;
}

.command-icon {
    text-align: center;
    font-size: 25px;
    color: white;
}

.command-content {
    padding: 14px 25px;
    color: white;
    flex-grow: 1;
    max-width: calc(14ch);
    word-break: break-word;
    min-width: 28ch;
}

@keyframes -command {
    from {
        transform: translateY(-600px);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes command- {
    from {
        transform: translateY(0%);
        opacity: 1;
    }
    to {
        transform: translateY(-600px);
        opacity: 0;
    }
}

/* important() 函数。（优化后） */
.important-window {
    width: 65vw;
    height: 50vh;
    background-color: #0000009a;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: transform 0.7s cubic-bezier(0.33, 1, 0.68, 1);
}

@keyframes -important {
    from {
        opacity: 0;
        backdrop-filter: blur(0px) saturate(100%);
        transform: translate(-50%, -25%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
        backdrop-filter: blur(14px) saturate(250%);
    }
}

@keyframes important- {
    from {
        opacity: 1;
        backdrop-filter: blur(14px) saturate(250%);
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 0;
        backdrop-filter: blur(0px) saturate(100%);
        opacity: 0;
        transform: translate(-50%, -75%);
    }
}

.windows-text {
    color: white;
    font-size: 25px;
    padding: 14px 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.important-confirm {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 14px 25px;
    background-color: #003516b0;
    color: white;
    border: none;
    cursor: pointer;
}

.windows-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    display: none;
}

/* keyin() 函数。（优化后） */
.keyin-window {
    width: 25vw;
    height: 50vh;
    top: 10px;
    transform-origin: left left;
    background-color: #0000009a;
    display: none;
    position: fixed;
    transition: transform 0.7s cubic-bezier(0.33, 1, 0.68, 1);
    z-index: 999;
}

@keyframes -keyin {
    from {
        opacity: 0;
        backdrop-filter: blur(0px) saturate(100%);
        transform: translate(100%, 50%);
    }
    to {
        opacity: 1;
        backdrop-filter: blur(14px) saturate(250%);
        transform: translate(50%, 0%);
    }
}

@keyframes keyin- {
    from {
        opacity: 1;
        backdrop-filter: blur(14px) saturate(250%);
        transform: translate(50%, 0%);
    }
    to {
        opacity: 0;
        backdrop-filter: blur(0px) saturate(100%);
        transform: translate(-50%, 100%);
    }
}

/* log 函数。 */
.log-window {
    z-index: 100;
    background-color: #b2186d99;
    display: flex;
    position: fixed;
    padding: 14px 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    top: 50%;
    left: 14px;
    z-index: 1000;
}

.log-content {
    padding: 14px 25px;
    color: white;
    flex-grow: 1;
    max-width: calc(14ch);
    word-break: break-word;
    min-width: 28ch;
}

@keyframes -log {
    from {
        backdrop-filter: blur(0px) saturate(100%);
        opacity: 0;
    }
    to {
        backdrop-filter: blur(14px) saturate(250%);
        opacity: 1;
    }
}

@keyframes log- {
    from {
        backdrop-filter: blur(14px) saturate(250%);
        opacity: 1;
    }
    to {
        backdrop-filter: blur(0px) saturate(100%);
        opacity: 0;
    }
}